.layout {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout>header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: rgba(100, 100, 111, 0.329) 0px 7px 29px 0px;
}

.layout>main {
    padding-top: 6.1%;
    width: 100%;
    height: 100vh;
}