.product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    padding: 3% 0 3%;
}
/*========== product_item ===========*/
/*========== product_item ===========*/
/*========== product_item ===========*/
/*========== product_item ===========*/
.product_item {
    width: 330px;
    height: 560px;
    border-radius: 20px;
    background:  #191919dc;
}
.product_item > Link {
    color: #fff;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 20px;
    font-weight: bold;
}
.product_item > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 0;
    gap: 20px;
    
}
.product_item > div > button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background:mediumblue;
    font-size: 30px;
    color: #fff;
    font-weight: bold;

    border: none;
}
.product_item > div > p {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.product_item > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.product_item > form > span {
    width: 274px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 0 0%;
}
.product_item > form > span > button {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
}
 .product_item > form > span >:first-child {
    width: 121px;
    height: 35px;
    border-radius: 7px;
}

.product_item > form > span >:nth-child(2) {
    width: 141px;
    height: 35px;
    border-radius: 7px;
} 
.product_item > form > span > button:hover {
    background: #1919196d;
    border: 1px solid grey;
}
.product_item > form > input {
    width: 274px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid grey;
    background: none;
    gap: 15px;
    font-size: 17px;
    color: #ffff;
    cursor: pointer;
}
.product_item > form > input[type ="text"] {
    letter-spacing: 0.2rem;
}
.product_item > form >:nth-child(2) {
    padding: 0% 3%;
}
.product_item > form >:nth-child(2):hover {
    border: 2px solid yellow;
}
.product_item > form > button {
    color: blue;
    cursor: pointer;
    font-weight: bold;
    background: none;
    border: none;
    padding-right: 210px;
}
.product_item > form > button:active{
    color: red;
}
.product_item > form > input[ value="Log in"] {
    background: rgb(255, 247, 0);
    height: 40px;
    color: #191919dc;
    font-weight: bold;
}
.product_item > form > input[ value="Log in"]:hover {
    background: #FCE000;
}
.product_item > form > div > button{
    width: 274px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid grey;
    background: none;
    gap: 15px;
    font-size: 17px;
    color: #ffff;
    cursor: pointer;
    text-align: center;
}
.product_item > form > p {
    color: #ffff;
}
.footer {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    gap: 20px;
    border: none;
}