.catalog_product {
    position: relative;
    width: calc(33% - 5px);
    padding: 1.5%;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #fff;
    gap: 10px;
}

.catalog_product>img {
    width: 100%;
    height: calc(100% - 40%);
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.product_info {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #111;
    gap: 5px;
}

.product_info>:first-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.product_info>:first-child>:nth-child(1) {
    font-size: var(--fs4);
    font-weight: 500;
    border: none;
    outline: none;
}

.product_info>:first-child>span {
    font-size: var(--fs5);
}

.product_info>:first-child>:last-child {
    color: #33333383;
}

.btn_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    border: none;
    border-radius: 15px;
    font-size: var(--fs5);
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
}

.btn_box>button {
    padding: 6.5%;
    border: none;
    background: none;
}

.btn_box>span {
    padding: 4% 0;
    font-size: var(--fs4);
    inline-size: calc(100% / 3);
    height: 100%;
    text-align: center;
    user-select: none;
}

.btn_box>:first-child:active {
    background: linear-gradient(to left, #eee, #ddd, #ddd);
}

.btn_box>:last-child:active {
    background: linear-gradient(to right, #eee, #ddd, #ddd);
}

.like_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 2.3% 3% 0;
    border: none;
    background: #eee;
    border-radius: 15px;
    font-size: var(--fs4);
    color: #ae2209;
}