.navbar_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar,
.catalog_navbar {
    max-width: 1440px;
    width: 100%;
    padding: var(--pd1);
    display: flex;
    align-items: center;
    gap: var(--gap2);
    border-bottom: 1px solid #aaaaaac7;
    background: #fff;
}

.catalog_navbar {
    background: #F5F4F2;
}

.navbar,
.catalog_navbar>:first-child {
    display: flex;
    align-items: center;
    gap: var(--gap2);
    flex: 1;
}



.catalog_navbar .search_box {
    display: none;
}

.catalog_navbar .location {
    border: 2px solid #aaa;
}

.catalog_navbar .login_btn {
    background: #ccc;
}


/* ==========left navbar section ============= */
.left_nav {
    display: flex;
    align-items: center;
    gap: var(--gap2);
    flex: 1;
}

.left_nav>a {
    font-size: 28px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}

/* ============= search ================ */
.search_box {
    width: 360px;
    height: 43px;
    display: flex;
    align-items: center;
    border: 2px solid #FCE000;
    border-radius: 13px;
    overflow: hidden;
}

.search_box>span {
    font-size: 22px;
    padding: 0 10px;
    color: #888;
}

.search_box>input {
    flex: 1;
    text-overflow: ellipsis;
}



.search_box>input,
.search_box>button {
    height: 100%;
    padding: 0 2% 0 0;
    border: none;
    font-size: var(--fs5);
}

.search_box>button {
    padding: 0 5%;
    background: #FCE000;
}


/* ============ location ======== */
.location {
    padding: 0.6% 1.5%;
    border: 2px solid #eee;
    background: #eee;
    border-radius: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.location:hover {
    background: #ddd;
}

.icon {
    font-size: 22px;
    color: #333;
}

.location>select {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: var(--fs5);
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}

/* ================ language ================ */
.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.language:hover * {
    color: #888;
}

.language>select {
    height: 100%;
    font-size: var(--fs7);
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    appearance: none;
}

.language>select>option {
    font-size: var(--fs5);
    background: #fff;
    line-height: 6;
    border-radius: 15px;
    border: none;
}

/* ================ card ================ */
.card {
    padding: 0.7% 1.2%;
    display: flex;
    align-items: center;
    background: #FCE000;
    border-radius: 15px;
    gap: 10px;

}

.card>:nth-child(2) {
    padding: 0.5%;
    font-size: var(--fs5);
    font-weight: 600;
}

/* ========== login =========== */
.login_btn {
    padding: 1% 2%;
    background: #eee;
    color: #333;
    border: none;
    font-size: var(--fs5);
    border-radius: 13px;
    font-weight: 600;
}