:root {
    --fs1: 48px;
    --fs2: 40px;
    --fs3: 32px;
    --fs4: 24px;
    --fs5: 16px;
    --fs6: 14px;
    --fs7: 13px;
    --fs8: 20px;
    --pd1: 1.5% 2%;
    --pd2: 2% 5%;
    --pd3: 3% 3% 0;
    --pd4: 4% 4% 5% 5%;
    --gap1: 30px;
    --gap2: 20px;
    --gap3: 15px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: YSText, sans-serif;
    letter-spacing: 0.05rem;
}

body {
    width: 100%;
    background: #f5f4f2;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

#root {
    max-width: 1440px;
    width: 100%;
    

}

input {
    outline: none;
}

::selection {
    color: #888;
    background: #fce000;
}