:root {
    --fs1: calc(36px + (48 - 36)*(100vw - 320px)/(1440 - 320));
    --fs2: calc(28px + (40 - 28)*(100vw - 320px)/(1440 - 320));
    --fs3: calc(24px + (32 - 24)*(100vw - 320px)/(1440 - 320));
    --fs4: calc(16px + (24 - 16)*(100vw - 320px)/(1440 - 320));
    --fs5: calc(14px + (16 - 14)*(100vw - 320px)/(1440 - 320));
    --fs6: calc(13px + (14 - 13)*(100vw - 320px)/(1440 - 320));
    --fs7: calc(12px + (13 - 12)*(100vw - 320px)/(1440 - 320));
    --fs8: calc(16px + (20 - 16)*(100vw - 320px)/(1440 - 320));
    --pd1: 1.5% 2%;
    --pd2: 2% 5%;
    --pd3: 3% 3% 0;
    --pd4: 4% 4% 5% 5%;
    --pd5: 3% 8%;
    --pd6: 5vw 10vw;
    --gap1: 30px;
    --gap2: 20px;
    --gap3: 15px;
    --gap4: 10px;
}