:root {
    --fs1: 48px;
    --fs2: 40px;
    --fs3: 32px;
    --fs4: 24px;
    --fs5: 16px;
    --fs6: 14px;
    --fs7: 13px;
    --fs8: 20px;
    --pd1: 1.5% 2%;
    --pd2: 2% 5%;
    --pd3: 3% 3% 0;
    --pd4: 4% 4% 5% 5%;
    --pd5: 3% 8%;
    --gap1: 30px;
    --gap2: 20px;
    --gap3: 15px;
    --gap4: 10px;
}