:root {
    --fs1: 48px;
    --fs2: 40px;
    --fs3: 32px;
    --fs4: 24px;
    --fs5: 16px;
    --fs6: 14px;
    --fs7: 13px;
    --pd1: 1.5% 2%;
    --pd2: 2% 5%;
    --gap1: 30px;
    --gap2: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: YSText, sans-serif;
    letter-spacing: 0.05rem;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.root {
    width: 100%;
}

input {
    outline: none;
}